/* Tirare estilo automático de links */
a {
    text-decoration: none;
    color: #000;
}


/* Retirar presets padrões do html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rotobo, sans-serif;
    font-weight: 400;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    height: 100%;
}


/* Estilizando barra de rolagem */
body::-webkit-scrollbar {
    width: 0.5rem;
}
  
  body::-webkit-scrollbar-track {
    background: #000;
}
  
  body::-webkit-scrollbar-thumb {
    background-color: #5F5F5F;
    border-radius: 20px;
    border: 1px solid #BBB;
}


/* Filtro para deixar o texto visível */
.filtro-preto {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}


/* Estilo da area inicial e menu */
.tela-inicial {
    height: 121%;
    width: 100%;
    background-image: url("./Images/home background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    color: #FFF;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 2.2rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.menu a {
    color: #FFF;
    font-size: 1.3rem;
}

.titulo-site {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 15%;
}

.titulo-site h1 {
    font-size: 4rem;
}

.titulo-site h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 40%;
}


/* Estilo da area de personagens */
.titulo-apresentacao { grid-area: titulo; justify-self: center; margin-top: 5%; font-size: 3rem;}
.descricao { grid-area: descricao; justify-self: center; margin-bottom: 5%; font-size: 1.2rem; margin-top: 1.2rem;}
.imagem1 { grid-area: imagem1; width: 70%; justify-self: end; margin-right: 5%; }
.texto1 { grid-area: texto1; width: 70%; text-align: justify; }
.texto2 { grid-area: texto2; width: 70%; justify-self: end; margin-right: 5%; }
.imagem2 { grid-area: imagem2; width: 70%; text-align: justify; }
.imagem3 { grid-area: imagem3; width: 70%; justify-self: end; margin-right: 5%; margin-bottom: 5%; }
.texto3 { grid-area: texto3; width: 70%; text-align: justify; margin-bottom: 5%; }

.apresentacao {
    display: grid;
    grid-template-areas:
        'titulo titulo'
        'descricao descricao'
        'imagem1 texto1'
        'texto2 imagem2'
        'imagem3 texto3'
    ;
    align-items: center;
    justify-items: stretch;
    background-color: #FFF;
    color: #000;
}


/* Estilo da area de historia */
.historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 80%;
    margin: auto;
    padding-bottom: 5rem;
    text-align: justify;
}

.historia h2 {
    font-size: 3rem;
    margin-top: 1rem;
}

.historia p {
    font-size: 1.2rem;
}

/* Estilo da area de personagens */
.personagem { grid-area: per; font-size: 3rem; justify-self: center;}
.heroi { grid-area: her; width: 60%; justify-self: end; margin-top: 10%; }
.inimigo1 { grid-area: ini1; width: 60%; justify-self: center; margin-top: 10%; }
.inimigo2 { grid-area: ini2; width: 60%; justify-self: start; }
.inimigo3 { grid-area: ini3; width: 60%; justify-self: center; margin-top: 10%; }
.inimigo4 { grid-area: ini4; width: 60%; justify-self: start; }

.personagens {
    display: grid;
    grid-template-areas:
        'per per per per'
        'her her ini1 ini2'
        'her her ini3 ini4'
    ;
    align-items: stretch;
    justify-items: stretch;
}


/* Estilo da area do sobre */
.sobre {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.sobre > * { /* Todos da div */
    margin-bottom: 1%;
}

.sobre h2 {
    font-size: 3rem;
    margin-top: 5%;
}


/* Estilo da area das especificacoes */
.titulo-especificacao { grid-area: titulo; justify-self: center; font-size: 3rem; margin-top: 5%; margin-bottom: 6%; }
.min-requisitos { grid-area: min; justify-self: center; width: 60%; font-size: 2rem; margin-bottom: 1%; }
.specs1 { grid-area: specs1; justify-self: center; width: 60%; font-size: 1.2rem; }
.recom-requisitos { grid-area: recom; justify-self: center; width: 60%; font-size: 2rem; margin-bottom: 1%; }
.specs2 { grid-area: specs2; justify-self: center; width: 60%; font-size: 1.2rem; }
.download { grid-area: download; justify-self: center; width: 60%; margin-top: 5%; font-size: 2rem; margin-top: 5%;}
.imagem-ilustrativa { grid-area: imagem; justify-self: center; align-self: center; width: 80%; height: 60%; margin-top: 5%; border-radius: 10%; }

.especificacoes {
    display: grid;
    grid-template-areas:
        'titulo titulo'
        'min recom'
        'specs1 specs2'
        'download imagem'
        ;
    justify-items: stretch;
    align-items: stretch;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30%;
}

.download h3 {
    font-size: 3.2rem;
}

.botao-download {
    width: 60%;
    height: 10%;
    border-radius: 1rem;
    background-color: #000;
    color: #FFF;
    font-size: 1.6rem;
    margin-top: 5%;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}

.botao-download:hover {
    background-color: #333;
    border: 1px solid #000;
}

.download p {
    margin-top: 15%;
    font-size: 2rem;
}

.platformas-download {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
    margin-top: 5%;
}

.platformas-download img {
    width: 20%;
}


/* Estilo do feedback */
.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BBB;
    padding-top: 3%;
}

.feedback h2 {
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.feedback form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-bottom: 1%;
}

.feedback form textarea {
    resize: none;
    width: 30rem;
    max-width: 30rem;
    height: 2.5rem;
    max-height: 7rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 2px solid #666;
    font-size: 1rem;
}

.feedback form button {
    background-color: #000;
    color: #FFF;
    width: 6rem;
    height: 2rem;
    margin-top: 1%;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    transition: 0.5s;
}

.feedback form button:hover {
    background-color: #333;
    border: 1px solid #000;
}


/* Estilo da area do rodape */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    background-color: #BBB;
    width: 100%;
    padding: 2rem 0 1rem 0;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

footer a {
    font-size: 1.8rem;
}

footer span {
    font-weight: 700;
    font-size: 1.3rem;
}

footer img {
    width: 1.8rem;
}