.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-image: linear-gradient(45deg, rgb(66, 0, 87), #6d336e);
}

.perfil {
  width: 40rem;
  height: 33rem;
  background-color: rgba(63, 64, 66, 0.61);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 2rem;
}

.perfil h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.estatistica {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-left: 10rem;
  font-size: 1.2rem;
}

.dados {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-left: 10rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.botao {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.botao button {
  width: 10rem;
  height: 3rem;
  background-color: dodgerblue;
  border: none;
  border-radius: 0.7rem;
  color: #FFF;
  cursor: pointer;
  transition: 0.5s;
}

.botao button:last-child {
  background-color: red;
}

.botao button:hover {
  opacity: 0.7;
}